<p>Jennifer Bolanos</p>
<p>Full Stack Developer</p>

<p>Contact Me</p>
<p>Tel. 707-853-3000</p>
<p>Email jbolanos707@gmail.com</p>

<hr>

<p>Skills<p>
<%= link_to "ADD SKILL", new_skill_path, class: "add-new" %>

<ul>
  <% @skills.each do |skill| %>
    <li><%= link_to skill.language, skill_path(skill) %></li>
  <% end %>
</ul>
